nav ul {
	position: fixed;
}

nav ul li {
	list-style-type: none;
	float: left;
	background-color: #2DB400;
	color: white;
	padding: 20px 30px;
}

body {
	background: linear-gradient(to bottom, white, #E2E2E2); 
}

h1 {
	text-align: center;
	color: #2DB400;
	font-size: 55px;
	font-family: "Arial Black";
	font-weight: bold;
}

#search {
	display : block;
	margin : 0 auto;
	width: 600px;
	height: 50px;
	border-style: solid;
	border-width: 1px;
	border-color: #2DB400;
	border-radius: 4px;
	font-family: "Arial";
	font-size: 18px;
	padding-left: 15px;
}